<div class="page">
<main class="main" >
<h2 class="main__title1">Cómo jugar:</h2>
<p class="main__parr1">Este juego consiste en ir clicando con el raton en la imagen que aparecerá de un topo. Cuantas más veces golpees al topo más puntos obtendrás. </p>
<button class="js_btn">Comenzar</button>
<h2 class="main__title2">Topo-puntos:</h2>
<p class="main__parr2" id="score">0</p>
<h3 class="main__title3">Tiempo restante:</h3>
<p class="main__parr3" id="timeLeft">30</p>
<div class="container">
<div class="grid">
    <div class="grid__square js_square" id="1"></div>
		<div class="grid__square mole js_square" id="2"></div>
		<div class="grid__square js_square" id="3"></div>
		<div class="grid__square js_square" id="4"></div>
		<div class="grid__square js_square" id="5"></div>
		<div class="grid__square js_square" id="6"></div>
		<div class="grid__square js_square" id="7"></div>
		<div class="grid__square js_square" id="8"></div>
		<div class="grid__square js_square" id="9"></div>
</div>
</div>
</main>
</div>