<main >
<h2>Procedimiento del juego:</h2>
<p>Este juego consiste en ir clicando con el raton cada vez que aparezca el topo en los diferentes recuadros.Cuantos más topos golpees más puntos conseguirás</p>
<h2>Topo-puntos:</h2>
<h2>0</h2>
<h2>Tiempo restante:</h2>
<h2>60</h2>
<div>
        <div class="square" id="1"></div>
		<div class="square mole" id="2"></div>
		<div class="square" id="3"></div>
		<div class="square" id="4"></div>
		<div class="square" id="5"></div>
		<div class="square" id="6"></div>
		<div class="square" id="7"></div>
		<div class="square" id="8"></div>
		<div class="square" id="9"></div>
</div>
</main>
