.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:black ;
}
.footer {
    background-image: url(../images/hoyos.jpeg);
    background-repeat: repeat;
    background-position:bottom;
    height: 90px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__copy {
        font-family: $font-header;
        text-shadow: 2px 2px $color-letter;
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__copy {
            font-size: 24px;
        }
    }
}