.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:black ;
}
.footer {
    //background-color: blueviolet;
    background-image: url(../images/hoyos.jpeg);
    background-repeat: repeat;
    background-position:bottom;
    height: 90px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__copy {
        font-family: $font-title;
        font-size: 16px;
    }
}