.page {
    background-color: black;
}
.main {
    width: 100vw;
    background-image: url(../images/galeriaTopo.jpeg);
    background-position: center;
    background-size:1100px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 15px 20px;
    &__title1 {
        font-family: $font-title;
        color:$color-letter;
        padding-top: 20px;
        padding-bottom: 10px;
        font-size:28px;
    }
    &__parr1 {
        font-family: $font-parr;
        color:$color-letter;
        padding-bottom: 10px;
        font-size: 18px;

    }
    &__title2 {
        font-family: $font-title;
        color:$color-letter;
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    &__parr2 {
        font-family: $font-parr;
        color:$color-letter;
        padding-bottom: 10px;
        font-size: 18px;
    }
    &__title3 {
        font-family: $font-title;
        color:$color-letter;
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    &__parr3 {
        font-family: $font-parr;
        color:$color-letter;
        padding-bottom: 10px;
        font-size: 18px;
    }
    &__btn {
        display: flex;
        justify-content: center;
        height: 40px;
        &--1 {
            width: 100px;
            border-radius: 10px;
            font-family: $font-title;
            background: $color-letter;
            color:$color-btn;
            position: relative;
            z-index: 1;
            overflow: hidden;
            display: inline-block;
            cursor:pointer;
        }
        &--1:hover {
            color:$color-letter;
        }
        &--1::after {
            content: "";
            background: $color-btn;
            position: absolute;
            z-index: -1;
            padding: 16px 20px;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transform: scale(0, 0) rotate(-180deg);
            transition: all 0.3s ease;
        }
        &--1:hover::after{
            transition: all 0.3s ease-out;
            transform: scale(1, 1) rotate(0deg);
        }
    }
    &__reset {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        &--2 {
            border-radius: 50%;
            width: 45px;
            height: 45px;
            font-size: 40px;
           display: flex;
           justify-content: center;
           align-items: flex-end;
           text-align: center;
           background-color: rgb(87, 220, 20);
           cursor: pointer;
           box-shadow: 0 3px #999;
        }
        &--2:hover {
            background-color: #3e8e41;
        }
        &--2:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -190px;
    padding-top: 30px;
}
.grid {
    display: grid;
	grid-template-columns:1fr 1fr 1fr;
	width: 90px;
    padding-bottom: 30px;
    &__square {
        width: 90px;
	    height: 90px;
	    border: 2px solid $color-letter;
    }
}
.mole {
    background-image: url(../images/topo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .main {
        &__title1 {
            font-size: 32px;
        }
        &__parr1 {
            font-size: 22px;
        }
        &__title2 {
            font-size: 24px;
        }
        &__parr2 {
            font-size: 20px;
            padding-top: 24px;
            margin-left: 10px;
        }
        &__title3 {
            font-size: 24px;
        }
        &__parr3 {
            font-size: 20px;
            padding-top: 24px;
            margin-left: 10px;
        }
        &__btn {
            height: 50px;
            &--1 {
                font-size: 18px;
            }
        }
        .cont {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .cont1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

        }
        .cont2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

    }
    .grid {
        width: 170px;
        &__square {
            width: 120px;
            height: 120px;
        }
    }
}
