.page {
    background-color: black;
}
.main {
    width: 100vw;
    background-color: aqua;
    padding-bottom: 80px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 15px 20px;
    &__title1 {
        font-family: $font-title;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    &__parr1 {
        font-family: $font-parr;
        padding-bottom: 10px;

    }
    &__title2 {
        font-family: $font-title;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    &__parr2 {
        font-family: $font-parr;
        padding-bottom: 10px;
    }
    &__title3 {
        font-family: $font-title;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    &__parr3 {
        font-family: $font-parr;
        padding-bottom: 10px;
    }
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -190px;
    padding-top: 70px;
}
.grid {
    display: grid;
	grid-template-columns:1fr 1fr 1fr;
	width: 90px;
    &__square {
        width: 90px;
	    height: 90px;
	    border: 2px solid black;
    }
}
.mole {
    background-image: url(../images/topo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}